{% extends 'layout.twig' %}

{% block content %}

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/dude.png">
                    <div class="intro-text">
                        <span class="name">
                            Is it maintained?
                        </span>
                        <hr class="star-light">
                        <span class="skills">
                            Check the activity of open source projects
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="check">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Check a project</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="search">
                        <p>
                            Paste a GitHub project URL, or the repository ("user/repository"):
                        </p>

                        <div class="form-group input-group input-group-lg">
                            <input id="search-input" type="text" class="form-control" placeholder="user/repository">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Go</button>
                            </span>
                        </div>

                        <div class="alert alert-warning collapse">
                            You must enter a valid repository name (<code>user/repository</code>).
                        </div>

                        <div class="result well collapse">
                            <h4></h4>
                            <img src="">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <section class="success" id="metrics">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Metrics</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Resolution time</h3>
                    <p>
                        Median time needed to close an issue or pull request.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>Open percentage</h3>
                    <p>
                        Percentage of open issues and pull requests.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p></p>
                    <p class="small">
                        Issues or pull requests opened by the collaborators are ignored.
                        Some issues are also ignored based on their labels (example of ignored
                        labels: "enhancement", "feature"…). For the median time needed to close an
                        issue, issues closed and older than 6 months are ignored too.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <hr>
                </div>
            </div>

            <div class="row portfolio">

                <div class="col-lg-12 text-center">
                    <h3>Projects recently analyzed</h3>
                </div>

                {% for repository in latestRepositories %}
                    <div class="col-sm-4 portfolio-item">
                        <p>
                            <a href="{{ projectUrl(repository) }}">
                                {{ repository }}
                            </a>
                        </p>
                        <p>
                            {{ badgeHtml(repository, 'resolution') }}
                        </p>
                        <p>
                            {{ badgeHtml(repository, 'open') }}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <hr>
                </div>
            </div>

            <div class="row portfolio">

                <div class="col-lg-12 text-center">
                    <h3>Most popular projects</h3>
                </div>

                {% for repository, name in showcase %}
                    <div class="col-sm-4 portfolio-item">
                        <p>
                            <a href="{{ projectUrl(repository) }}">
                                {{ name }}
                            </a>
                        </p>
                        <p>
                            {{ badgeHtml(repository, 'resolution') }}
                        </p>
                        <p>
                            {{ badgeHtml(repository, 'open') }}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="alert alert-danger">
                        <p>
                            <strong>This is an alpha version!</strong>
                        </p>
                        <em>Is it maintained</em> is in alpha version and those metrics are not
                        written in stone. Can you think of better ones? Head out to the
                        <a href="https://github.com/mnapoli/Maintained" class="alert-link">GitHub project</a>
                        to discuss this in an issue!
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        <em>Is it maintained?</em> is an open source project whose goal is to
                        monitor open source projects.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Have you ever wondered whether or not to use a library or a framework,
                        uncertain of how well it is maintained?
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr>
                    <a href="https://github.com/mnapoli/Maintained" class="btn btn-lg btn-default">
                        <i class="fa fa-github"></i> Fork on GitHub
                    </a>
                </div>
            </div>

        </div>
    </section>

{% endblock %}