{% extends 'layout.twig' %}

{% block content %}

    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><a href="https://github.com/{{ repository }}">{{ repository }}</a></h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p>
                        Resolution time:
                        <strong class="text-primary">{{ resolutionTime.formatLong() }}</strong>
                    </p>
                    <p>
                        {{ badge(repository) }}
                    </p>
                    <p class="small">
                        The resolution time is the median time an issue or pull request stays open.
                    </p>
                    <p class="small">
                        Issues or PR opened by the collaborators are ignored.
                    </p>

                    <p>
                        Open issues:
                        <strong class="text-primary">{{ openedIssues }}%</strong>
                    </p>
                    <p>
                        {{ badge(repository, 'opened') }}
                    </p>
                    <p class="small">
                        The percentage of open issues and pull requests.
                    </p>
                    <p class="small">
                        Issues or PR opened by the collaborators are ignored.
                    </p>

                </div>
            </div>

        </div>
    </section>

{% endblock %}